body{
    background-image: url(/images/graycheckerboard.png);
    color: wheat;
    background-repeat: repeat;
    background-size: 5%;
    padding-left: 100px;
    padding-right: 100px;
}
.whbody{
background-image: url(/images/whitecheckerboard.png);
color: black;
}
.whcontainer{
    background-color:rgba(255, 255, 255, 0.5);
    display: block;
    margin: auto;
}
header{
    background-color: rgba(128, 128, 128, 0.6);
    display: block;
    margin: auto;
}
h1{
    text-align: center;
}
#specialtext{
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: larger;
}
.tiszalogo{
    background-image: url(/images/TISZA_2024.svg.webp);
    cursor: pointer;

}
.right{
    background-size: 100%;
    background-repeat: no-repeat;
    bottom: 0px;
    right: 0px;
    position: fixed;
    width: 100px;
    height: 100px;
}
.left{
    position: fixed;
    width: 100px;
    height: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
    bottom: 0px;
    left: 0px;
}
.fideszlogo{
    background-image: url(/images/Fidesz_2015.svg.webp);
    cursor: pointer;
}
.rottenorange{
    background-image: url(/images/OIP-3437628257.jpg);
    cursor: pointer;
}
table,th,td,tr{
    border: solid 2px black;
}
.clown{
    background-image: url(/images/clown.jpg);
    background-size: 100% 50px;
    background-position: 1px;
    color: black;
    background-repeat: no-repeat;
}
.image1{
    background-image: url(/images/Képernyőkép\ 2026-04-17\ 102930.png);
    background-position: 150px 0px;
    background-repeat: no-repeat;
    background-size: 270px;
}